<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @todo_item.text %>
</p>

<p>
  <strong>Completed at:</strong>
  <%= @todo_item.completed_at %>
</p>

<%= link_to 'Edit', edit_todo_item_path(@todo_item) %> |
<%= link_to 'Back', todo_items_path %>
